body {
	background: url('../images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff
  }
	.btn-primary{
		color: #fff;
		background-color: #375a7f;
		border-color: #375a7f;
	}

	.btn-primary:hover {
		color: #fff;
		background-color: #28415b;
		border-color: #243a53;
	}
	p.lead{
		margin:10px;
		padding:10px;
	}
